@import "../../styles/variables";

.housing {
  display: flex;
  flex-direction: column;
  margin: 50px 100px;

  &__title {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;

    &__host {
      display: flex;
      flex-direction: row-reverse;
      gap: 10px;
      margin-bottom: 20px;
      img {
        width: 64px;
        height: 64px;
        border-radius: 50px;
      }
      p {
        color: $primary-color;
      }
    }

    &__text h1 {
      color: $primary-color;
      font-weight: 500;
      font-size: 36px;
      margin: 0;
    }

    &__text p {
      margin: 0;
      margin-bottom: 20px;
    }
  }

  &__tags-rating {
    display: flex;
    justify-content: space-between;
  }

  &__services {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 5.27vw;

    & .collapse {
      margin: 0;
      width: 40.4vw;
    }
  }

  &__tags-rating {
    margin-bottom: 24px;
  }
}

@media (max-width: 767.98px) {
  .housing {
    margin: 27px 20px;

    &__title {
      flex-direction: column;

      &__text {
        margin-bottom: 16px;

        & h1 {
          font-size: 18px;
        }

        & p {
          font-weight: 500;
          font-size: 14px;
        }
      }

      &__hostAndRating {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        height: 33px;
      }

      &__host {
        align-items: center;
        margin: 0;

        & img {
          width: 32px;
          height: 32px;
        }

        & p {
          font-size: 12px;
        }
      }
    }

    &__services{
        flex-direction: column;
        gap: 20px;

        & .collapse{
            width: 100%;
        }
    }
  }
}
