header,
main {
  margin: 45px 100px 30px 100px;
}

body, .main-content {
  margin: 0;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

@media (max-width: 767.98px) {
  header,
  main {
    margin: 20px;
  }

  body {
    margin: 0;
  }
}
