@import "../../styles/_variables";

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 4.16vw;
  background-color: $grey;
  border-radius: 25px;
  width: inherit;
  height: calc(829px - 120px);
  overflow: scroll;
  padding: 60px 50px;
  
  & a {
    text-decoration: none;
    color: inherit;
    height: 340px;
    display: block;
    border-radius: 10px;
    cursor: pointer;
    width: 100%; 
  }
}

// Mobile
@media (max-width: 767.98px) {
  .cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding: 16px 0px;
    background-color: white;
    height: 785px;

    & a {
      width: 100%;
      height: 255px;
    }
  }
  .banner .mobile-break {
    display: block;
  }
}
