

.card {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  position: relative;
  gap: 60px;

  &__img {
    object-fit: cover;
    position: absolute;
    inset: 0;
    width: inherit;
    height: inherit;
    z-index: 0;
    border-radius: 10px;
  }

  &__title {
    position: absolute;
    left: 20px;
    top: 268px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    z-index: 1;
  }
}
