@import "../../styles/_variables.scss";

.collapse {
  margin: 0px 14.4vw 28px 14.4vw;
  border-radius: 5px;

  &__header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 15px;
    color: white;
    background-color: $primary-color;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
  }

  &__content {
    padding: 10px 20px 10px 15px;
    background-color: $grey-light;
    color: black;
    font-size: 18px;
    font-weight: 400;
  }

  &__chevron {
    transform: rotate(-180deg);
    transition: transform 0.5s;
  }

  &__chevron.is-open {
    transform: rotate(-360deg);
  }
}
