.footer {
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 66px 0px 33px 0px;
  width: 100vw;
  margin: 50px 0 0 0;

  & p {
    width: 500px;
    margin-top: 28px;
  }
}

@media (max-width: 767.98px) {
  .footer {
    margin-top: 26px;
    height: 209px;
    justify-content: center;
    padding: 0;
    & p{
      margin: 0;
    }

    & .mobile-break {
      display: block;
    }
  }
}
