.footer {
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 66px 463px 33px 463px;
  width: inherit;
  margin: 50px 0 0 0;

  & p {
    width: 500px;
    margin-top: 28px;
  }
}

@media (max-width: 767.98px) {
  .footer {
    padding: 0 127px 0 127px;
    margin: 0;
    height: 209px;
    justify-content: center;

    & p{
      margin: 0;
    }

    & .mobile-break {
      display: block;
    }
  }
}
