.banner {
  position: relative;
  width: 100%;
  height: 223px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 43px;
  background-size: cover;
  background-position: center;
  border-radius: 16px;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
    border-radius: 16px;
  }

  p {
    position: relative;
    z-index: 1;
    font-size: 48px;
    font-weight: bold;
    color: #fff;
  }
}

@media (max-width: 767.98px) {
  .banner {
    height: 111px;
    justify-content: flex-start;
    width: inherit;
    padding-left: 16px;

    p {
      font-size: 24px;
    }
  }
}
